<div class="container mbot">
  <h2>Weekly Summary</h2>

  <div *ngFor="let day of weekDays" class="mb-2 border rounded">
    <div class="d-flex align-items-center p-1">
      <h4 class="text-center">{{ day }}</h4>
      
      <div class="p-2">
        <div *ngFor="let expense of getDailyExpenses(day)" class="d-flex justify-content-around p-2 m-1 border rounded">
            <span class="custom-margin-right">{{ expense.category }}</span>
            <span>{{ expense.amount }}</span>
          
        </div>
      </div>
    </div>
  </div>
  <p class="mt-3">Weekly Total: {{ weeklyTotal }}</p>
  <p class="mt-3">Weekly Savings: {{ weeklySavings }}</p>
  <app-pie-chart [chartData]="chartData" [chartTitle]="'Expenses'" *ngIf="showChart"></app-pie-chart>
  <button class="btn btn-primary mt-3" (click)="toggleChartVisibility()">Show/Hide Chart</button>
  

</div>
